.post-area{
	height:300px;
	overflow: hidden;
	padding: 8px; 
}
.post-img{
	width: 100%;
	height: 350px;
}
.post-img img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#services h3{
	font-size: 28px;
	background: #3e59f0;
	text-align: center;
	margin: 8px;
	color: #fff;
	/*border: 2px solid #000;*/
	padding: 6px;

}

#services h2{
	text-align: center;
	margin-top: 20px;
}
.price button{
	float: right;
	margin-top: -2px;
	
}
.price button:hover{
	background: green;
	color: #000;
	
}
.post-heading h2{
	margin-top: 25px;
	text-align: left;
	font-weight: bolder;
}
.scrollto{
	margin-top: 15px;
}
.title{
	height: 70px;
	overflow: hidden;
}
.title:hover{
	overflow: visible;
}
#topbar{
	background:#0221b8;
}
#logo{
	margin-top: -10px;
}
#topbar .contact-info a,i{
	color: #fff;
}